node_modules/
dist/
*.log
*.lock
.DS_Store

.vite/
coverage
.vitest
.cache
temp
out
*.tsbuildinfo

.idea
.vscode
*.swp

ksef-pdf
ksef-pdf-linux
ksef-pdf-macos
ksef-pdf.exe
build/
release-*/

test-*.pdf